.tickets-table td:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  gap: 24px;
}

.table-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.table-text p {
  text-align: left;
}

.tickets-table td:first-child h4 {
  font-size: 14px;
  font-family: Mulish;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--primary-text-color);
}

.tickets-table p {
  font-size: 12px;
  font-family: Mulish;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: var(--secondary-text-color);
}

.tickets-table {
  border-radius: 8px;
}

.tickets-table,
.tickets-table tr {
  border: 1px solid #dfe0eb;
  background-color: #fff;
  border-collapse: collapse;
}

#tickets-tr {
  background-color: white;
  padding: 24px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 40px;
}

.tickets-table td:nth-child(2) {
  max-width: 238px;
}

.tickets-table td:nth-child(3) {
  max-width: 140px;
}

.tickets-table td:nth-child(3) {
  max-width: 150px;
}

.tickets-table td:nth-child(3) h4 {
  color: var(--primary-text-color);
}

.tickets-table td:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.high-btn {
  padding: 5px 12px;
  font-size: 11px;
  font-family: Mulish;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: #f12b2c;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-right: 72px;
}

.low-btn {
  padding: 5px 12px;
  font-size: 11px;
  font-family: Mulish;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: #FEC400;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-right: 72px;
}

.normal-btn {
  padding: 5px 12px;
  font-size: 11px;
  font-family: Mulish;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: #29CC97;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-right: 50px;
}

.three-dots-btn {
  width: 24px;
  height: 24px;
  margin-right: 18px;
  border: none;
}

.three-dots-btn img {
  width: 100%;
  border: none;
}

.tickets-table thead th {
  text-align: center;
}

.tickets-table thead tr th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 48px;
  /* border-bottom: 1px solid transparent */
}

.tickets-table th:first-child {
  width: 300px;
}

.tickets-table th:nth-child(2) {
  width: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tickets-table th:nth-child(3) {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tickets-table .position-caption {
  border-bottom: none;
}

.position-caption td {
  font-size: 19px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  color: var(--primary-text-color);
  padding-top: 32px;
}

.tickets-top {
  margin-bottom: 20px;
  gap: 800px;
}

@media (max-width:1300px) {
  .tickets-table thead tr {
    gap: 90px;
  }
}

@media (max-width:1250px) {
  .tickets-table thead tr {
    gap: 70px;
  }
}

@media (max-width:1200px) {
  .tickets-table thead tr {
    gap: 50px;
  }
}

@media (max-width:1160px) {
  .tickets-table thead tr {
    gap: 30px;
  }
}

@media (max-width:1120px) {
  .tickets-table thead tr {
    gap: 10px;
  }
}

@media (max-width: 1100px) {
  .nav-list .nav-link span {
    display: none;
  }

  aside,
  aside ~ header,
  aside ~ main {
    --aside-width: 60px;
  }

  .table-bottom {
    overflow-x: auto;
    max-width: 900px;
  }

  .table-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.light *, .light .tickets-table *, .light #tickets-tr {
 background-color: #363740;
 color: #fff;
 /* border-color: #fff; */
}

.light #tickets-tr h4 {
  color: #fff;
}

.light #tickets-tr button {
  background-color: #fff;
  color: black;
}

.light #tickets-tr td .three-dots-btn {
  border: 1px solid #fff;
}
